@font-face {
  font-family: "Bungee Spice";
  src: url(/assets/fonts/BungeeSpice-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Metal Mania";
  src: url(/assets/fonts/MetalMania-Regular.ttf) format("truetype");
}
