$accent-color: #bb86fc;
$accent-color-lighter: lighten($accent-color, 10%);

$green-color: #6cf881;
$green-color-lighter: lighten($green-color, 10%);

$red-color: #f45b5b;
$red-color-lighter: lighten($red-color, 10%);

// Overlays
$overlay-color-00dp: rgba(255, 255, 255, 0);
$overlay-color-01dp: rgba(255, 255, 255, 0.05);
$overlay-color-02dp: rgba(255, 255, 255, 0.07);
$overlay-color-03dp: rgba(255, 255, 255, 0.08);
$overlay-color-04dp: rgba(255, 255, 255, 0.09);
$overlay-color-06dp: rgba(255, 255, 255, 0.11);
$overlay-color-08dp: rgba(255, 255, 255, 0.12);
$overlay-color-12dp: rgba(255, 255, 255, 0.14);
$overlay-color-16dp: rgba(255, 255, 255, 0.15);
$overlay-color-24dp: rgba(255, 255, 255, 0.16);
