@import "variables";

section {
  max-width: 600px;
  margin: auto;

  h1 {
    color: white;
    margin: 40px 0px 20px 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: $overlay-color-02dp;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);

    label {
      font-size: 16px;
      color: white;
    }

    input[type="text"],
    textarea {
      padding: 10px;
      border: none;
      box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: $overlay-color-01dp;
      color: white;
      font-size: 14px;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $overlay-color-01dp;
        border-radius: 0 8px 8px 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 20px;
        border: 3px solid $overlay-color-02dp;

        &:hover {
          background-color: $accent-color-lighter;
          cursor: pointer;
        }
      }

      &:focus {
        outline: none;
        border-color: $accent-color;
        box-shadow: 0 0 0 2px rgba($accent-color, 0.2);
      }
    }

    textarea {
      resize: none;
    }
  }
}
