@import "@fortawesome/fontawesome-svg-core/styles.css";

@font-face {
  font-family: "Bungee Spice";
  src: url(/assets/fonts/BungeeSpice-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Metal Mania";
  src: url(/assets/fonts/MetalMania-Regular.ttf) format("truetype");
}

body {
  background-color: #242424;
  color: white;
  font-family: "Roboto", sans-serif;
}
